@import './../../assets//css/base.scss';
$themeColor: #b9ffe6;
$themeColorDeep: #7bffd1;
$panelColor: #eee;
html,
body,
#resume {
  height: 100%;
  overflow: hidden;
}
#resume {
  margin: 0 auto;
  padding: 0;
  width: $width;
}
html ::-webkit-scrollbar {
  width: 0 !important;
}

.name {
  font-size: 3rem;
  text-align: center;
  font-weight: bold;
}
.position {
  text-align: center;
  margin-top: 0.5em;
  position: relative;
  font-weight: lighter;
  .leftSymbol,
  .rightSymbol {
    position: absolute;
    top: 0;
  }
  .leftSymbol {
    left: 16%;
  }
  .rightSymbol {
    right: 16%;
  }
  .s1 {
    font-size: 1.5rem;
  }
  .s2 {
    font-size: 1.2rem;
  }
  .s3 {
    font-size: 0.9rem;
  }
}

.splitLine {
  margin-top: 1rem;
  p {
    border-bottom: 6px solid $themeColor;
    margin-top: 0.2rem;
  }
}

main {
  margin-top: 0.3rem;
  height: 100%;
  overflow: hidden;
  .left,
  .right {
    float: left;
  }
  .left {
    width: 40%;
    height: 100%;
    background-color: $panelColor;
    #leftInfo {
      padding-bottom: 1.5rem;
    }
  }
  .right {
    height: 100%;
    width: 50%;
  }
}

.avatar {
  width: 10rem;
  height: 10rem;
  overflow: hidden;
  margin: 1rem auto 0 auto;
  border-radius: 50%;
  border: 0.2rem solid #999999;
  text-align: center;
  img {
    height: 100%;
  }
}

.info-item {
  padding-left: 3rem;
  padding-right: 1rem;
  margin-top: 1.5rem;
  .title {
    width: 82%;
    font-size: 1.5rem;
    text-align: left;
    background-color: $themeColor;
    padding: 0.2rem 0 0.2rem 30%;
    position: relative;
    &::before {
      content: '';
      top: 0;
      left: 0;
      display: block;
      position: absolute;
      border: 1.3rem solid transparent;
      border-left: 1rem solid
        $panelColor;
    }
    &::after {
      content: '';
      top: -0.6rem;
      right: 0.3rem;
      display: block;
      position: absolute;
      border: 0.6rem solid transparent;
      border-right: 0.6rem solid
        $themeColorDeep;
      transform: rotate(-45deg);
    }
  }
  ul {
    list-style: none;
    li {
      margin-top: 0.2rem;
      line-height: 1.5rem;
      font-size: 0.8rem;
      a {
        color: #000;
      }
    }
  }
}

.exp-info {
  overflow: hidden;
  padding-left: 3rem;
  margin-top: 1.5rem;
  .title {
    font-size: 1.5rem;
  }
  ul {
    margin-top: 1rem;
    li {
      line-height: 1.2rem;
      font-size: 0.8rem;
      display: flex;
      justify-content: space-between;
      a {
        color: #000;
      }
    }
    li.dot {
      display: block;
      &::before {
        content: '▪';
      }
    }
  }
}
