*{
    margin: 0;
    padding: 0;
}
header{
    display: none !important;
}
.main{
  padding: 0 !important;
  margin: 0 !important;
}
#page{
    border: none !important;
    margin:0 !important;
    padding: 0 !important;
    transform: scale(1) !important;
}
.right{
    display: none !important;
}

@page {
    size: A4 portrait;
    margin:0;
}