@import './base.scss';

#page {
  display: block;
  margin-left: 1rem;
  width: $width;
  min-height: $height;
  border: 1px dashed #ddd;
}
.main {
  display: flex;
  justify-content: space-around;
  .right {
    margin: 0 1rem;
  }
  #jsonEditor {
    max-width: calc(100vw - 900px);
  }
}

@media screen and (max-width: 1200px) {
  .main {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    .right {
      position: absolute;
    }
    #jsonEditor {
      max-width: 100%;
    }
  }
}

.btns {
  text-align: center;
  button {
    background-color: skyblue;
    margin: 1rem;
    border: none;
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    outline: none;
    &:hover {
      cursor: pointer;
      transition: all 0.5s;
      background-color: blue;
    }
  }
}
