@import './base.scss';

#page {
  display: block;
  margin-left: 1rem;
  width: $width;
  min-height: $height;
  border: 1px dashed #ddd;
}
.main {
  display: flex;
  justify-content: space-around;

  .right {
    margin: 0 1rem;
    flex: 1;
  }
}

.btns {
  text-align: center;
}
#reset {
  background-color: skyblue;
  margin: 1rem auto;
  border: none;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  outline: none;
  &:hover {
    cursor: pointer;
    transition: all 0.5s;
    background-color: blue;
  }
}
