$width: 794px;
$height: 1120px;
* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
header {
  text-align: center;
  background-color: #24292e;
  padding: 16px;
  margin-bottom: 10px;
  a {
    color: #fff;
    font-weight: bold;
    margin: 0 10px;
  }
}
