<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/print.css" media="print">
    <link rel="stylesheet" href="https://img.cdn.sugarat.top/css/jsoneditor.min.css">
    <script src="https://img.cdn.sugarat.top/js/jsoneditor.min.js"></script>
    <script src="https://img.cdn.sugarat.top/jspdf/2.3.0/jspdf.umd.min.js"></script>
    <title>
        <%= htmlWebpackPlugin.options.title %>
    </title>
</head>

<body>
    <header>
        <button id="open-menu">
            <span></span>
            <span></span>
            <span></span>
        </button>
        <div id="tips">
            ← Resume 在线简历生成
        </div>
        <nav id="nav">
            <%= htmlWebpackPlugin.options.pageNames %>
        </nav>
    </header>
    <div class="main">
        <iframe id="page" name="page" src="" frameborder="0"></iframe>
        <div class="right">
            <div class="input-container" style="padding: 0.1rem;">
                <textarea id="domContext" placeholder="这里显示点击的内容，修改内容会直接同步" rows="3"></textarea>
                <div style="text-align: center;">
                    <p>
                        <span id="tipsNum" style="color: red;">0</span>
                        个包含此内容的节点
                    </p>
                    <p>节点内容进行模糊匹配</p>
                    <p>默认联动的是内容完全相匹配的第一个节点</p>
                </div>
            </div>
            <div class="btns">
                <button id="print">导出pdf（PC - 打印）</button>
                <button id="pdf">导出pdf（jsPDF - 不支持超链接）</button>
            </div>
            <div class="btns">
                <button id="reset">重置</button>
                <button id="toggle">显示/隐藏</button>
            </div>
            <div id="jsonEditor">

            </div>
        </div>
    </div>
</body>

</html>