<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/print.css" media="print">
    <title>
        <%= htmlWebpackPlugin.options.title %>
    </title>
</head>

<body>
    <header>
        <%= htmlWebpackPlugin.options.pageNames %>
    </header>
    <iframe id="page" name="page" src="" frameborder="0"></iframe>
</body>

</html>