<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/print.css" media="print">
    <link rel="stylesheet" href="./css/jsoneditor.min.css">
    <script src="./js/jsoneditor.min.js"></script>
    <script src="https://cdn.staticfile.org/jspdf/2.3.0/jspdf.umd.min.js"></script>
    <title>
        <%= htmlWebpackPlugin.options.title %>
    </title>
</head>

<body>
    <header>
        <button id="open-menu">
            <span></span>
            <span></span>
            <span></span>
        </button>
        <div id="tips">
            ← Resume 在线简历生成
        </div>
        <nav id="nav">
            <%= htmlWebpackPlugin.options.pageNames %>
        </nav>
    </header>
    <div class="main">
        <iframe id="page" name="page" src="" frameborder="0"></iframe>
        <div class="right">
            <div class="btns">
                <button id="print">导出pdf（PC - 打印）</button>
                <button id="pdf">导出pdf（jsPDF - 不支持超链接）</button>
            </div>
            <div class="btns">
                <button id="reset">重置</button>
                <button id="toggle">显示/隐藏</button>
            </div>
            <div id="jsonEditor">

            </div>
        </div>
    </div>
</body>

</html>